node_modules
.nuxt
.output
.cursor
.env
.env.local
.env.development
.env.production
.env.staging
.env.test
.env.test.local
.env.test.production
.env.test.staging
.DS_Store
dist
build
logs
*.log
coverage
